<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результаты анализа</title>
	<link rel="stylesheet" href="static/hf.css" />
</head>
<body>
    <div id="wrapper">
		<a href="/home">
			<div id="content">
				<header>
					<div id="logo">
						<h2>Результаты анализа</h2>
					</div>
				</header>
			</div>
		</a>
    </div>
	
	<div id="main">
		<div class="brd">
			<span>Вы ввели: <h3> {{data.phrase}}</h3></span>
			<span>Определенная болезнь:  <h3><b>{{data.predicted}}</h3></span>
		</div>

		<p><a href="/home"><button>На главную</button></a></p>
	</div>	
</body>
</html>